/.gradle
/.nb-gradle*
*.log
tangram-restart-cache.ser
/*/*/hsqldb/*
/*/local-db/*
/*/h2/*
/*/.gradle
/*/db
/*/build
/*/.settings
/*/.classpath
/*/.project
/*/private/cache
/example-coma-spring/material
/example-coma-spring/src/main/webapp/css
/example-coma-spring/src/main/webapp/WEB-INF/templates
/example-ebean/tangram-create.sql
/example-ebean/tangram-drop.sql
