*webapp.log
velocity.log
*.ser
/create-references.sh
/.gradle
/.nb-gradle*
/*/.gradle
/*/build
/*/logs
/*/.settings
/*/.classpath
/*/.project
/*/private/cache
/*/cap-examples.jar
/example-coma/cap-examples.jar
/example-ebean/tangram-create.sql
/example-ebean/tangram-drop.sql
