*webapp.log
velocity.log
*.ser
/create-references.sh
/.gradle
/.nb-gradle*
/*/.gradle
/*/build
/*/logs
/*/.settings
/*/.classpath
/*/.project
/*/private/cache
/*/cap-examples.jar
/example-coma/cap-examples.jar
/example-ebean/tangram-create-all.sql
/example-ebean/tangram-drop-all.sql
/example-ebean/tangram-create.sql
/example-ebean/tangram-drop.sql
/example-coma/.nb-gradle/
/example-ebean/.nb-gradle/
/example-jdo-dn/.nb-gradle/
/example-jpa/.nb-gradle/
/example-morphia/.nb-gradle/