<?xml version="1.0" encoding="utf-8"?>
<!--
  
  Copyright (C) 2011-2015 Martin Goellnitz
  
  This work is licensed under the Creative Commons Attribution 3.0 
  Unported License. To view a copy of this license, visit 
  http://creativecommons.org/licenses/by/3.0/ or send a letter to 
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, 
  California, 94041, USA.
  
-->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       version="1.1" bean-discovery-mode="all">
  
  <!-- For Capedwarf this has to be excluded here explicitly -->
  <scan>
    <exclude name="org.tangram.servlet.PasswordFilter"/>
  </scan>
  
</beans>